body {
	margin: 0;
	overflow: hidden;
}
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
div.image {
	position: absolute;
	left: 10px;
	top: 10px;
}
#chart {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;

}